* {
  /* outline: dashed 1px black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-bright-orange: hsl(31, 77%, 52%);
  --color-primary-dark-cyan: hsl(184, 100%, 22%);
  --color-primary-very-dark-cyan: hsl(179, 100%, 13%);
  --color-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-very-light-gray: hsl(0, 0%, 95%);
}

main {
  padding: 100px 10px 100px 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px;
}

.sedan-card {
  background-color: var(--color-primary-bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  color: var(--color-neutral-very-light-gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
}

.card-description {
  color: var(--color-neutral-transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

button {
  font-family: 'Lexend Deca', sans-serif;
  width: 130px;
  height: 45px;
  border-radius: 25px;
  border: none;
}

.sedan-button {
  color: var(--color-primary-bright-orange);
}

.suv-card {
  background-color: var(--color-primary-dark-cyan);
}

.suv-button {
  color: var(--color-primary-dark-cyan);
}

.luxury-card {
  background-color: var(--color-primary-very-dark-cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury-button {
  color: var(--color-primary-very-dark-cyan);
}

@media only screen and (width > 375px) {
  main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    height: 500px;
    min-width: 300px;
  }
  .sedan-card {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .luxury-card {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  button {
    margin-top: 50px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}