* {
  /* outline: dashed 1px black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-bright-orange: hsl(31, 77%, 52%);
  --color-primary-dark-cyan: hsl(184, 100%, 22%);
  --color-primary-very-dark-cyan: hsl(179, 100%, 13%);
  --color-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-very-light-gray: hsl(0, 0%, 95%);
}

main {
  height: 100%;
  padding: 100px 10px 100px 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px;
}

.sedan-card {
  background-color: var(--color-primary-bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  color: var(--color-neutral-very-light-gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
}

.card-description {
  color: var(--color-neutral-transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

button {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--color-primary-bright-orange);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}